.App {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Chosen {
  border: 3px solid magenta;
}

body {
  background-image: url('images/headcount-background.jpg');
  background-size: contain;
}

h1 {
  color: #f7f7f7;
  font-size: 3rem;
  margin-top: 0;
}

header {
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 0.1em;
  margin-top: 1.6rem;
  text-align: center;
}

input {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 20px;
  justify-content: center;
  margin: 2rem auto 0 auto;
  width: 35%;
}
