.App {
  background-color: #1a6e80;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Chosen {
  border: 3px solid magenta;
}

h1 {
  margin-top: 0;
}

header {
  background-color: #1a6e80;
  text-align: center;
}

input {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 20px;
  justify-content: center;
  margin: 0 auto 0 auto;
  width: 35%;
}
