.Card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  height: 23rem;
  margin: 0.5rem;
  padding: 0 0.35rem 0 0.35rem;
  text-align: center;
  width: 15rem;
}

.Selected {
  display: flex;
  justify-content: space-evenly;
}

.top-district {
  padding-bottom: 4.5rem;
}

.bottom-district {
  padding-top: 4rem;
}

h2 {
  margin: 0.75rem 0 0.75rem 0;
}

ul {
  font-size: 1.1rem;
  margin: 0.25rem 0 0.25rem 0;
  padding: 0;
}

.low-data {
  color: orange;
}

.high-data {
  color: blue;
}
