.Card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  height: 25rem;
  margin: 0.5rem;
  padding: 0 0.35rem 0 0.35rem;
  text-align: center;
  width: 15rem;
}

.Compare {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
  height: 25rem;
  margin: 0.5rem;
  padding: 0 0.35rem 0 0.35rem;
  text-align: center;
  width: 15rem;
}

h2 {
  margin: 0.75rem 0 0.75rem 0;
}

ul {
  font-size: 0.8rem;
  margin: 0.25rem 0 0.25rem 0;
  padding: 0;
}

.low-data {
  color: coral;
}

.high-data {
  color: blue;
}
